{% extends 'base.html' %}
{% block title %}Submit Bio-Data{% endblock %}
{% block head %}
<style>
            .card {
                        margin: 20px auto;
                        max-width: 500px;
                        padding: 20px;
                    }
</style>
{% endblock %}
{% block content %}
<div class="card shadow">
    <h2 class="text-center">Submit Bio-Data</h2>
        <div class="form-container">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="age">Age:</label>
                    <input type="number" id="age" name="age" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="grade">Grade:</label>
                    <input type="number" id="grade" name="grade" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="address">Address:</label>
                    <textarea id="address" name="address" class="form-control" rows="4"></textarea>
                </div>
                <div class="form-group mb-3">
                    <label for="contact">Phone Number:</label>
                    <input type="tel" id="contact" name="contact" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary w-100 py-2 rounded-2">Submit</button>
            </form>
        </div>
</div>
{% endblock %}
